%%-*- mode: erlang -*-
{erl_opts, [
            debug_info,
            warn_format,
            %% warn_export_all,
            warn_export_vars,
            warn_obsolete_guard,
            warn_bif_clash
            %% warn_missing_spec,
            %% warn_untyped_record
           ]}.

{profiles, [
    {bench, [
        {deps, [
            {erlsom, "1.4.2"},
            {fast_xml, "1.1.30"},
            {exml, {git, "https://github.com/esl/exml.git", {ref, "5059e8f"}}}, %% rapidxml
            {exomler, {git, "https://github.com/erlangbureau/exomler.git"}}
        ]}
    ]}
]}.
